<div class="jumbotron" style="padding:45px 0px">
  <h4  class="text-center" name="myHeader">To Do List App</h4>
</div>

<div id="inputgroup" class="input-group">
  <input type="text" id="inputbox" class="form-control" #todoText>
  <div class="input-group-addon hover-cursor" id="addButton"  (click)="addTodo($event, todoText)">
    <i class="fa fa-plus-circle fa-2x"></i>
  </div>
</div>

<div style="margin:5px 0px">
  <ul class="list-group">
    <li class="list-group-item"  id="listgroup"  *ngFor="let todo of todolist">
      <span class="hover-cursor" [class.text-success]="todo.isCompleted" id="checkbox"  (click)="updateStatus(todo)">
        <i class="fa fa-lg" [ngClass]="todo.isCompleted?'fa-check-circle-o':'fa-circle-thin'"></i>
      </span>
      <span [class.hidden]="todo.isEditMode" >{{todo.text}}</span>
      <input type="text" [class.hidden]="!todo.isEditMode" [value]="todo.text"  id="updatetextbox"  (keypress)="updateTodoText($event, todo)">
      <span class="hover-cursor text-danger pull-right"  id="deleteButton"  (click)="deleteTodo(todo)">
        <i class="fa fa-trash-o fa-lg"></i>
      </span>
      <span class="hover-cursor text-warning pull-right spaced"  id="editButton"  (click)="setEditState(todo, true)">
        <i class="fa fa-gear fa-lg"></i>
      </span>      
    </li>
  </ul>
</div>